<div class="p-5 bg-light rounded m-3 text-center">
<h1 class="display-4 fw-normal">Gerador de RPG</h1>
<br><br>
<form>
    <div class="mb-3">
        <h3>Histórico:</h3>
        <textarea class="form-control" id="message-text" disabled="disabled" rows="8"></textarea>
    </div>
</form>
&nbsp
<div id="controlArea" style="display: flex;">
<div id="Column" style="float: left; padding: 2px; height: 100%; overflow: auto; width: 100%">
<div id="Row" class="mb-2">
<span>Conseguir resposta</span>&nbsp
<%= link_to "I", options_answer_path(:param1 => "1"), class: "small btn btn-sm btn-primary text-white", title: 'Impossível', remote: true %>
<%= link_to "MD", options_answer_path(:param1 => "2"), class: "small btn btn-sm btn-primary text-white", title: 'Muito difícil', remote: true %>
<%= link_to "D", options_answer_path(:param1 => "3"), class: "small btn btn-sm btn-primary text-white", title: 'Difícil', remote: true %>
<%= link_to "N", options_answer_path(:param1 => "4"), class: "small btn btn-sm btn-primary text-white", title: 'Normal', remote: true %>
<%= link_to "F", options_answer_path(:param1 => "5"), class: "small btn btn-sm btn-primary text-white", title: 'Fácil', remote: true %>
<%= link_to "MF", options_answer_path(:param1 => "6"), class: "small btn btn-sm btn-primary text-white", title: 'Muito fácil', remote: true %>
<%= link_to "C", options_answer_path(:param1 => "7"), class: "small btn btn-sm btn-primary text-white", title: 'Certeza', remote: true %>
<%= link_to "50/50", options_answer_path(:param1 => "8"), class: "small btn btn-sm btn-primary text-white", title: '50/50', remote: true %>
</div>
<div id="Row" class="mb-2">
<span>Rolar dado</span>&nbsp
<%= link_to "4", options_dices_path(:param1 => "4"), class: "small btn btn-sm btn-primary text-white", title: 'Impossível', remote: true %>
<%= link_to "6", options_dices_path(:param1 => "6"), class: "small btn btn-sm btn-primary text-white", title: 'Muito difícil', remote: true %>
<%= link_to "8", options_dices_path(:param1 => "8"), class: "small btn btn-sm btn-primary text-white", title: 'Difícil', remote: true %>
<%= link_to "10", options_dices_path(:param1 => "10"), class: "small btn btn-sm btn-primary text-white", title: 'Normal', remote: true %>
<%= link_to "12", options_dices_path(:param1 => "12"), class: "small btn btn-sm btn-primary text-white", title: 'Fácil', remote: true %>
<%= link_to "20", options_dices_path(:param1 => "20"), class: "small btn btn-sm btn-primary text-white", title: 'Muito fácil', remote: true %>
<%= link_to "100", options_dices_path(:param1 => "100"), class: "small btn btn-sm btn-primary text-white", title: 'Certeza', remote: true %>
</div>
</div>
</div>
