<div class="p-5 bg-light rounded m-3">
    <h1 class="display-4 fw-normal text-center">Gerador de RPG</h1>
    <br><br>
    <form>
        <div class="mb-3">
            <h3>Histórico:</h3>
            <textarea class="form-control" id="message-text" disabled="disabled" rows="10"></textarea>
        </div>
    </form>
    &nbsp
    <div id="controlArea"><!-- Buttons area -->
        <div class="row">
            <div id="Column" class="col" style="padding-right:20px; border-right: 1px solid #ccc;"><!-- Column 1 -->
                <div id="Row" style="padding-bottom:5px; border-bottom: 1px solid #ccc;"><!-- Row 1 -->
                    <span class="small">Conseguir resposta</span><br>
                    <%= render "static_pages/buttons/answer" %>
                </div>
                <div id="Row" style="padding-bottom:5px; border-bottom: 1px solid #ccc;"><!-- Row 2 -->
                    <span class="small">Rolar dado</span><br>
                    <%= render "static_pages/buttons/dices" %>
                </div>
                <div id="Row" style="padding-bottom:5px; border-bottom: 1px solid #ccc;"><!-- Row 3 -->
                    <span class="small">Terreno</span><br>
                    <%= render "static_pages/buttons/terrain" %>
                </div>
            </div>
            <div id="Column" class="col" style="padding-right:20px; border-right: 1px solid #ccc;"><!-- Column 2 -->
                <div id="Row" style="padding-bottom:5px; border-bottom: 1px solid #ccc;"><!-- Row 1 -->
                    <span class="small">Viagem</span><br>
                    <%= render "static_pages/buttons/travel" %>
                </div>
                <div id="Row" style="padding-bottom:5px; border-bottom: 1px solid #ccc;"><!-- Row 2 -->
                    <span class="small">Encontros</span><br>
                    <%= render "static_pages/buttons/encounters" %>
                </div>
            </div>
            <div id="Column" class="col"><!-- Column 3 -->
                <div id="Row" style="padding-bottom:5px; border-bottom: 1px solid #ccc;"><!-- Row 1 -->
                    <span class="small">Missões</span><br>
                    <%= render "static_pages/buttons/missions" %>
                </div>
                <div id="Row" style="padding-bottom:5px; border-bottom: 1px solid #ccc;"><!-- Row 2 -->
                    <span class="small">Masmorras</span><br>
                    <%= render "static_pages/buttons/dungeons" %>
                </div>
            </div>
        </div>
    </div>
</div>
