<div class="p-5 bg-light rounded m-3">
<h1 class="display-4 fw-normal text-center">Tutoriais</h1>

<br>
<br>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <%= render "static_pages/shared/accordion_start", number: "One" %>
    Dados
  <%= render "static_pages/shared/accordion_mid", number: "One" %>
    Caso precise rodar um dado, selecione o botão com a quantidade de lados desejada!
  <%= render "static_pages/shared/accordion_end" %>
  <%= render "static_pages/shared/accordion_start", number: "Two" %>
    Mecânica de perguntas
  <%= render "static_pages/shared/accordion_mid", number: "Two" %>
    Faça uma pergunta, essa pergunta precisa ser formulada de forma que possa ser respondida com uma das três palavras a seguir: <b>sim</b>, <b>não</b>, <b>talvez</b>.
    <br>
    Dadas todas as circunstâncias, qual é a probabilidade da resposta ser sim? <b>Impossível?</b> Uma <b>certeza?</b>
    <br>
    Com a pergunta feita, clique no gerador de respostas e tenha a resposta para sua pergunta.
    <br>
    Caso a resposta precise ser respondida com <b>sim</b> ou <b>não</b> e tenha caído <b>talvez</b> em sua rolagem, rode a opção <b>50/50</b> para obter esta resposta.
    <br>
    Exemplo: "Eu sou perturbado por algo durante o acampamento?", caso tenha preparado um bom acampamento a chance é menor, então role a probabilidade <b>Difícil</b>
  <%= render "static_pages/shared/accordion_end" %>
  <%= render "static_pages/shared/accordion_start", number: "Three" %>
    Viagem
  <%= render "static_pages/shared/accordion_mid", number: "Three" %>
    Aqui seguem um conjunto de regras e informações para que possa viajar no seu mundo de fantasia. (Recomendo deixar uma aba no seu navegador com a página de tabelas aberta).
    <br><br>
    <b>Forma de viagem</b><br>
    Primeiro, defina a forma que seu personagem irá viajar (A pé, cavalo, etc), para mais informações confira os modos de viagem em <%= link_to "Tabelas", tables_path, style: "text-decoration: underline; color: black" %>.
    <br><br>
    <b>Clima</b><br>
    Após isso, role o <i>clima</i> que estará fazendo durante a viagem.
    <br><br>
    <b>Encontros</b><br>
    Após isso role 4 vezes para <i>encontros</i> caso esteja viajando durante o dia e 2 vezes caso esteja viajando a noite a cada 12 horas de viagem (Aumente ou diminua a quantidade dependendo da densidade populacional!).
    <br><br>
    <b>Assentamentos</b><br>
    Role 1d4, role <i>assentamentos</i> vezes o resultado do dado para ter a chance de encontrar assentamentos durante sua viagem. Caso encontre um assentamento use testes de <i>Perguntas/Respostas</i> para obter mais informações sobre ele!
    <br><br>
    <b>Acampamento</b><br>
    Confira a <%= link_to "tabela", tables_path, style: "text-decoration: underline; color: black" %> de acampamento para saber a Classe de Dificuldade para encontrar acampamento no terreno em que está.
    <br><br>
    <b>Perturbações</b><br>
    Faça um teste de <i>Perguntas/Respostas</i> para saber se seu personagem é perturbado durante o sono. Ajuste a probabilidade de acordo com a qualidade do acampamento.
  <%= render "static_pages/shared/accordion_end" %>
  <%= render "static_pages/shared/accordion_start", number: "Four" %>
    Missão
  <%= render "static_pages/shared/accordion_mid", number: "Four" %>
    Depois de gerar uma missão e sua fonte, faça as seguintes perguntas O QUÊ, POR QUÊ, QUANDO, ONDE, COMO e QUEM.
    <br>
    Para responder estas perguntas use o <i>gerador de respostas</i> e sua imaginação para encontrar as respostas.
    <br><br>
    Exemplo: "Item perdido"
    <br><br>
    <b>O QUÊ</b> era o item? Era mágico? um livro de feitiços?
    <br>
    <b>POR QUÊ</b> foi perdido? Foi roubado? Por quem?
    <br>
    <b>QUANDO</b> foi perdido? Recentemente, ou séculos atrás?
    <br>
    <b>ONDE</b> se diz que está? alguém tem ideia da localização dele?
    <br>
    <b>COMO</b> pode ser recuperado? Se a ocalização não for conhecida, existe alguma forma de descobrir a localização?
    <br>
    <b>QUEM</b> o alertou sobre a ausência do item? É alguém que você conhece? Alguém cuja confiabilidade é incerta?
    <br><br>
    Após a conclusão bem-sucedida de uma missão que resulte na melhoria do bem-estar dos moradores de uma vila, vila ou cidade, ou outro assentamento, os personagens podem descobrir que seu renome aumenta.
  <%= render "static_pages/shared/accordion_end" %>
</div>
</div>
